@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@400;500;700&display=swap');

:root {
  --dark-bg: #0c1017;
  --dark-focus: #12161f;
  /* For only sign in page! */
  --dark-border-btns: #808080;
  --dark-border: #212835;
  --dark-secondary-txt: #575757;
  --dark-txt: #adadad;
  --dark-blue: #2475c5;
  --dark-green: #00a682;
  --dark-strict: #e45651;
  --disable-color: var(--dark-txt);
  --light-strict: #ff827e;
  --light-green: #00c096;
  --light-border: #e3e3e3;
  --light-txt: #000000;
  --light-bg: #fff;
  --primary-color: #7e6dd1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body,
#root {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-bg);
}

html,
body#dark,
#root {
  background-color: var(--light-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  /* margin: auto; */
  background-color: var(--light-bg);
  position: relative;
  transition: all ease-in-out 0.3s;
  /* background-image: url(./assets/LOGO.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: content-box; */
}

#dark main {
  background-color: var(--dark-bg);
  color: var(--dark-txt);
}

#dark input {
  background: unset;
  color: var(--dark-txt);
}

#dark .sub-txt {
  color: var(--dark-secondary-txt);
}

/* Classes that uses in changing UI states with dark modes*/
*.disabled-flag {
  background: var(--light-border) !important;
}

#dark *.disabled-flag {
  color: var(--light-bg);
  background-color: var(--disable-color) !important;
}

*.strict-flag {
  color: var(--light-bg);
  background-color: var(--light-strict) !important;
}

#dark *.strict-flag {
  background-color: var(--dark-strict) !important;
  color: var(--light-bg);
}

*.green-flag {
  color: var(--light-bg);
  background-color: var(--light-green) !important;
}

#dark *.green-flag {
  color: var(--light-bg);
  background-color: var(--dark-green) !important;
}

main .app-wrapper {
  padding: 1.3rem;
  height: 100vh;
}

input {
  outline: none;
  border: none;
}

.avoid-pointer-events {
  pointer-events: none !important;
}

.offline-toast .Toastify__close-button > svg {
  display: none;
}

@media screen and (max-width: 768px) {
  main {
    width: auto !important;
  }
}
